<ol>
    <% for entry in @manifest.tableOfContent: %>
        <li>
            <a href="<%- @baseUrl %>/page-<%= entry.index %><%- @queryString || '' %>"><%= entry.title %></a>
            <% if entry.childs: %>
                <ol>
                    <% for child in entry.childs: %>
                        <li><a href="<%- @baseUrl %>/page-<%= child.index %><%- @queryString || '' %>#<%= child.anchor %>"><%= child.title %></a></li>
                    <% end %>
                </ol>
            <% end %>
        </li>
    <% end %>
</ol>
