<% if @options.search: %>
    <form method="GET" action="<%= @baseUrl %>/_search">
        <input id="search" type="text" name="q" placeholder="Search" />
    </form>
<% end %>
<ol>
    <% for entry in @manifest.tableOfContent: %>
        <li>
            <a href="<%= @baseUrl %>/<%- entry.slug %>"><%= entry.title %></a>
            <% if entry.childs: %>
                <ol>
                    <% for child in entry.childs: %>
                        <li><a href="<%= @baseUrl %>/<%- child.slug %>#<%= child.anchor %>"><%= child.title %></a></li>
                    <% end %>
                </ol>
            <% end %>
        </li>
    <% end %>
</ol>
