<!doctype html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title><%= @title %></title>
</head>

<body>

    <header>
        <h1><%= @title %></h1>
    </header>

    <div role="main">

        <% for categoryName, manifests of @categories: %>
            <section class="category">
                <h2><%= categoryName %></h2>
                <ul>
                    <% for manifest in manifests: %>
                    <li><a href="<%= @baseUrl %><%- manifest.slug %>/"><%= manifest.title %></a></li>
                    <% end %>
                </ul>
            </section>
        <% end %>

    </div>

    <footer>

    </footer>

</body>

</html>