<% if not @noToc: %>
    <aside>
        <nav>
            <ol>
                <% for entry in @manifest.tableOfContent: %>
                    <li>
                        <a href="<%= @baseUrl %><%- entry.slug %>.html#<%= entry.anchor %>"><%= entry.title %></a>
                        <% if entry.childs: %>
                            <ol>
                                <% for child in entry.childs: %>
                                    <li><a href="<%= @baseUrl %><%- child.slug %>.html#<%= child.anchor %>"><%= child.title %></a></li>
                                <% end %>
                            </ol>
                        <% end %>
                    </li>
                <% end %>
            </ol>
        </nav>
    </aside>
<% end %>

<article>
    <%- @content %>
</article>
