<!DOCTYPE html>
<html>
    <head>
        <title><%= @options.title %></title>
        <link type="text/css" rel="stylesheet" href="http://fonts.googleapis.com/css?family=Droid+Sans&subset=latin">
        <link type="text/css" rel="stylesheet" href="/css/reset.css">
        <link type="text/css" rel="stylesheet" href="/css/index.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script type="text/javascript" src="/js/index.js"></script>
    </head>
    <body>
        <header id="header">
            <h1><%= @options.title %></h1>
        </header>
        <div id="main">
            <% if not @options.readonly: %>
                <form id="import" method="get" action="/import">
                    <input type="text" name="uri" value="github:maximebf/beautiful-docs" class="default">
                    <input type="submit" value="Read">
                    <span class="notice">
                        Enter a github repo or an url pointing to a manifest file as described <a href="/import?uri=github:maximebf/beautiful-docs">here</a>
                    </span>
                </form>
            <% end %>
            <% for categoryName, manifests of @categories: %>
                <section class="category">
                    <h2><%= categoryName %></h2>
                    <ul>
                        <% for manifest in manifests: %>
                            <li><a href="/<%- manifest.slug %>/"><%= manifest.title %></a></li>
                        <% end %>
                    </ul>
                </section>
            <% end %>
        </div>
        <footer id="footer">
            Created by <a href="http://maximebf.com">maximebf</a> - 
            <a href="http://github.com/maximebf/beautiful-docs">github.com/maximebf/beautiful-docs</a>
        </footer>
    </body>
</html>
