<!DOCTYPE html>
<html>
    <head>
        <title>Beautiful Docs</title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Molengo&subset=latin">
        <link type="text/css" rel="stylesheet" href="/css/reset.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
    </head>
    <body>
        <form method="get" action="/load">
            <h1>Hello</h1>
            <input type="text" name="manifest">
            <input type="submit" value="Load" onclick="this.value='loading...'">
        </form>
    </body>
</html>
