<!DOCTYPE html>
<html>
    <head>
        <title><%= @title %></title>
        <link rel="stylesheet" type="text/css" href="http://fonts.googleapis.com/css?family=Molengo&subset=latin">
        <link type="text/css" rel="stylesheet" href="/css/reset.css">
        <link type="text/css" rel="stylesheet" href="/css/layout.css">
        <link rel="stylesheet" href="http://yandex.st/highlightjs/5.14/styles/default.min.css">
        <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.3/jquery.min.js"></script>
        <script src="http://yandex.st/highlightjs/5.14/highlight.min.js"></script>
        <script type="text/javascript" src="/js/viewer.js"></script>
    </head>
    <body>
        <header id="header">
            <h1><%= @title %></h1>
        </header>
        <div id="sidebar">
            <nav id="toc">
                <ol>
                    <% for entry in @tableOfContent: %>
                        <li>
                            <a href="/page?filename=<%= entry.filename %>"><%= entry.title %></a>
                            <% if entry.childs: %>
                                <ol>
                                    <% for child in entry.childs: %>
                                        <li><a href="/page?filename=<%= child.filename %>"><%= child.title %></a></li>
                                    <% end %>
                                </ol>
                            <% end %>
                        </li>
                    <% end %>
                </ol>
            </nav>
        </div>
        <article id="content">
            <%- @home %>
        </article>
        <footer id="footer">
            Powered by <a href="http://github.com/maximebf/beautiful-docs">beautiful-docs</a>
        </footer>
    </body>
</html>
