<!DOCTYPE html>
<html>
    <head>
        <title><%= @manifest.title %></title>
        <%- @partial '_assets', { manifest: @manifest } %>
    </head>
    <body>
        <%- @partial '_header', { manifest: @manifest, baseUrl: @baseUrl } %>
        <% if @search: %>
            <% body = @partial('_search', { manifest: @manifest, baseUrl: @baseUrl, search: @search }) %>
            <%- @partial 'content', { manifest: @manifest, body: body, baseUrl: @baseUrl } %>
        <% else: %>
            <%- @partial 'content', { manifest: @manifest, body: @body, baseUrl: @baseUrl } %>
        <% end %>
    </body>
</html>
